# Rohit Gaikwad

# EMAIL SPAM DETECTION USING MACHINE LEARNING

In [19]:
import nltk
nltk.download('stopwords', download_dir='D:\Downloads')

[nltk_data] Downloading package stopwords to D:\Downloads...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [20]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rohit\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [24]:
# Load the email data
import chardet

with open("D:\Downloads\spam.csv", 'rb') as f:
    result = chardet.detect(f.read())

data = pd.read_csv("D:\Downloads\spam.csv", encoding=result['encoding'])

In [25]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [36]:
data.rename(columns = {'v1':'Type','v2':'Email'},inplace = True)

In [37]:
data

,Type,email,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [38]:
# Preprocess the email content
stop_words = stopwords.words('english')
data['email'] = data['email'].str.lower()
data['email'] = data['email'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop_words]))

In [39]:
# Extract features from the email content
count_vect = CountVectorizer()
X_counts = count_vect.fit_transform(data['email'])
tfidf_transformer = TfidfTransformer()
X_tfidf = tfidf_transformer.fit_transform(X_counts)

In [41]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_tfidf, data['Type'], test_size=0.2)

In [42]:
# Train a Naive Bayes classifier on the training data
clf = MultinomialNB().fit(X_train, y_train)

In [43]:
# Evaluate the performance of the classifier on the test data
y_pred = clf.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Precision:', precision_score(y_test, y_pred, pos_label='spam'))
print('Recall:', recall_score(y_test, y_pred, pos_label='spam'))
print('F1 Score:', f1_score(y_test, y_pred, pos_label='spam'))

Accuracy: 0.968609865470852
Precision: 1.0
Recall: 0.7535211267605634
F1 Score: 0.859437751004016